<div class="container" > 
<form action="">
<div class="card-header">
    <h1>CAtalogo de Productos</h1>
  
  </div>
  <div class="pagination-container">
    <pagination-controls
      (pageChange)="currentPage = $event"
    ></pagination-controls>
    <div class="tabla-contenedor">
        <table class="table table-hover">
          <thead>
            <tr class="text-center">
            
              <th>IMAGEN</th>
              <th>NOMBRE</th>
              <!-- Añade las demás columnas que desees mostrar -->
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of productosRecibe ">
              <tr class="text-center">
              
                <div class="imagen-contenedor">
                  <img
                    class="imagen-producto"
                    *ngIf="!produ.foto_producto"
                    [src]="previsualizacion"
                    [src]="getBase64Image(item.foto_producto)"
                    alt=""
                    (load)="onImageLoad($event)"
                  />
                </div>
                <td>{{ item.nombre_producto }}</td>
                <td>
                  <button class="btn btn-danger" (click)="eliminarProducto(item)">Eliminar</button>
                </td>
               
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="Número de columnas en tu tabla">
                <div class="center-container">
                  <button class="generate-button" (click)="enviarRecibidos()">
                    <i class="fas fa-file-pdf"></i> Generar catálogo
                  </button>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      
    
  </div>
 
</form>
</div>