.input-file{
    background-color: transparent;
    position: relative;
    height: 250px;
    width: 400px;
    border:solid 0px rgb(226 226 226);
    margin-top: 1rem;
    cursor: pointer;
}
/* Estilos personalizados para el botón de subir */
.custom-file-input {
  /* Personaliza el ancho, el color de fondo, el color de texto, etc. según tus preferencias */
  width: 200px; /* Ajusta el ancho deseado aquí */
  background-color: #f0f0f0; /* Color de fondo del botón */
  color: #333; /* Color del texto del botón */
  border: 1px solid #ccc; /* Borde del botón */
  padding: 5px 10px; /* Espaciado interno del botón */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}
.personal-avatar {
  width: 200px; /* Ajusta el ancho deseado aquí */
  height: auto; /* Esto mantiene la proporción de aspecto de la imagen */
}


/* Estilo para las celdas de la tabla */
.custom-td {
  height: 100px; /* Ajusta el alto deseado para las celdas */
}

/* Estilo para las cabeceras de la tabla */
.custom-th {
  height: 30px; /* Ajusta el alto deseado para las cabeceras */
}

/* Estilo para el contenedor de la imagen */
.imagen-contenedor {
  width: 100px; /* Ajusta el ancho deseado para el contenedor de la imagen */
  height: 100px; /* Ajusta el alto deseado para el contenedor de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Estilo para la imagen dentro del contenedor */
.imagen-producto {
  width: 90%; /* La imagen ocupará todo el ancho del contenedor */
  height: 90%; /* La imagen ocupará todo el alto del contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
}